
/* Muokka koko sivua */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: aquamarine;
    padding: 0;
}


/* Muokka h1 otsikkoa */
h1 {
    color:rgb(255, 136, 0);
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}



p{
    font-size: 18px;
    color: rgb(196, 7, 7);
    line-height: 1.6;
}

/* Muokka kaikkia kuvia*/

img {

    max-width: 100%;
    border-radius: 10px;

}


/* Muokka linkkejä */

a {
    color: rgb(248, 9, 132);
    text-decoration: none;
}

